/* Global */
* {
	font-family: 'Cormorant Garamond', serif;
	color: #0D160B;
}

html {
	background-image: url("background.jpg");
	background-size: cover;
	height: 100vh;
	overflow: hidden;
}

html, body {
	margin: 0px;
	width: 100vw;
}

h1 {
	margin-bottom: 0px;
	margin-top: 8px;
	cursor: pointer;
}

h2 {
	margin-top: 3px;
	margin-bottom: 5px;
	font-size: 1em;
}

p {
	margin: 0px 0px 20px 0px;
}

input: {
	height: 50px;
}

input, textarea {
	font-family: helvetica, sans-serif;
	font-size: 1.5em;
	width: 100%;
	margin-bottom: 10px;
	border: 2px;
	border-color: black;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.75);
}

/* Header */
header {
	display: flex;
	height: 80px;
	background-color: rgba(255, 255, 255, 0.75);
}

#logo {
	width: 300px;
	text-align: center;
}

nav {
	display: flex;
	width: 300px;
	margin-top: 38px;
	margin-left: 50px;
}

.navlink {
	flex: 1;
	cursor: pointer;
	text-align: center;
	opacity: .75;
}

.navlink:hover,
.navlink:active {
	opacity: 1;
}

/* Content */
main {
	position: absolute;
	width: 400%;
	top: 80px;
	bottom: 80px;
	display: inline-flex;
	transition: margin .5s;
}

.page {
	display: flex;
	width: 25%;
}

.page-content {
	flex: 1;
	max-width: 700px;
	margin: 20px auto;
	padding: 20px;
	overflow: auto;
	justify-content: space-around;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 5px;
}

#bio img {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

#portfolio img {
	max-height: 100%;
	float: right;
	width: 350px;
}

.portthumb {
	height: 175px;
	width: 125px;
	margin: 20px;
	float: left;
	background-color: gray;
	border-radius: 5px;
}

#simpleform {
	margin: 0px auto;
	max-width: 450px;
}

/* Footer */
footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 80px;
	background-color: rgba(255, 255, 255, 0.75);
}

.socmedialink {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 20px 20px 20px 0px;
	opacity: .75;
}

.socmedialink:hover,
.socmedialink:active {
	opacity: 1;
}

.socmedialink:first-child {
	margin-left: 20px;
}

/* Device Compliance */
@media (max-width: 740px) {
	.page-content {
		margin: 0px;
		border-radius: 0px;
	}
	
	h1 {
		font-size: 2em;
	}
	
	main {
		position: relative;
		margin-bottom: 0px
	}
	
	footer {
		position: relative;
	}
}

/* Utilities */
.flex {
	flex: 1;
}
